doctype html
html
  head
    title Divine dance academy
    block scripts
    block style
  body
    nav#navbar
        ul
            div#logo
                
                img(src="/static/img/logo.png")
                
                li #[a(href="/") Home]

                li #[a(href="/") About]

                li #[a(href="/") Services]

                li #[a(href="/") Class info]

                li #[a(href="/contact") Contact us]
    block content
    footer#footer 
            | Copyright &copy 2021 www.divinedanceacademy.com | All rights reserved